replicaCount: 1

image:
  repository: tassnime850/smart-code-review-backend
  tag: latest
  pullPolicy: IfNotPresent

serviceAccount:
  create: false  

service:
  type: ClusterIP
  port: 5000  

env:
  MONGO_URI: mongodb://mongo-service:27017/smart-code-review
  JWT_SECRET: "9e3c8b7f2a1d4c6e5f8a0b9d7e2c1a4f"

ingress:
  enabled: false

httpRoute:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
