prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    podMonitorSelector: {}
    retention: 10d

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true
